<div class="col mb-4" >
    <div class="card" >
        <div class="card-body bg-warning">
            <h5 class="card-title text-danger">{{post.title}}</h5>
            <p class="card-text text-sm text-danger">
                Posted By {{user.username}} on {{createdAt}}
            </p>
        </div>                        
        <ul class="list-group list-group-flush text text-light">
            <li class="list-group-item bg-secondary">{{content}}</li>
        </ul>
    </div>
</div>