
{{!-- Welcome to the user Dashboard in session  --}}

<main class="container my-5">
      <div class="row row-cols-1 row-cols-md-1 row-cols-sm-1 justify-content-center">

            {{> post-cards post }}

      </div>

      {{!-- existing comments --}}
    {{#each post.comments as |comment|}}
      {{>comment-post comment}}
    {{/each}}

      {{!-- form comment --}}
      <div class="row row-cols-1 row-cols-md-1 row-cols-sm-1 justify-content-center">
        
        <div class="col mb-4" >
            <div class="card" >
                <div class="card-body bg-warning">
                    <h5 class="card-title text-danger">Comment</h5>
                </div>
                
                <form class="comment-form">
                <ul class="list-group list-group-flush text text-light">
                        <li class="list-group-item bg-secondary">
                             <div>
                                <textarea class="w-100" name="" id="comment" cols="30" rows="3"></textarea>
                            </div>
                        </li>                   
                        <li class="list-group-item bg-secondary">
                            <div>
                                <button class="btn btn-warning" type="submit" postId="{{post.id}}" userId="{{post.user_id}}" id="saveComment">Submit</button>
                            </div>
                        </li> 
                    </ul>        
                    </form>
                
            </div>
        </div>

      </div>


</main>
    <script src="/assets/js/saveComment.js"></script>

