
{{!-- Welcome to the user in session  --}}
<main class="container my-5" attr="{{loggedIn}}">
      <div class="row row-cols-1 row-cols-md-3 row-cols-sm-1 justify-content-center">
        {{!-- Displaying the Post in Cards --}}
      {{#if loggedIn}}
        {{#each posts as |post|}}            
              <a class="text-decoration-none" href="/single-post/{{id}}">{{> post-cards post }}</a>
        {{/each}}
      {{else}}
          {{#each posts as |post|}}  
              <a class="text-decoration-none" href="#">{{> post-cards post }}</a>
          {{/each}}
      {{/if}}

      </div>
</main>