
<main class="container my-5">
      <div class="row row-cols-1 row-cols-md-1 row-cols-sm-1 justify-content-center">
        
        <div class="col mb-4" >
            <div class="card" >
                <div class="card-body bg-warning">
                    <h5 class="card-title text-danger">New Post</h5>
                </div>
                
                <form class="newPost-form">
                <ul class="list-group list-group-flush text text-light"></ul>
                            
                        <li class="list-group-item bg-secondary">
                            <div>
                                <label for="user">Title</label>
                                <input type="text" id="title" />
                            </div>
                        </li>     
                        <li class="list-group-item bg-secondary">
                             <div>
                                <label for="content">Content:</label>
                                <input type="textarea" id="content" />
                            </div>
                        </li>                   
                        <li class="list-group-item bg-secondary">
                            <div>
                                <button type="submit">Creatr New Post</button>
                            </div>
                        </li> 
                    </ul>        
                    </form>
                
            </div>
        </div>

      </div>
</main>