<main class="container my-5">
      <div class="row row-cols-1 row-cols-md-1 row-cols-sm-1 justify-content-center">
        
        <div class="col mb-10" >
            <div class="card" >
                <div class="card-body bg-warning">
                    <h5 class="card-title text-danger">New Post</h5>
                </div>
                <ul class="list-group list-group-flush text text-light">
                    <li class="list-group-item bg-secondary">
                        <form class="post-form">
                            <div>
                                <label for="user">Title</label>
                                <input type="text" id="title" />
                            </div>
                            <div>
                                <label >Content</label>
                                <textarea name="" id="content" cols="30" rows="3"></textarea>
                            </div>
                            <div>
                                <button type="submit" attr="{{user_id}}" id="newPost">Create Post</button>
                            </div>
                    </form>
                    </li>
                </ul>
            </div>
        </div>

      </div>
</main>
    <script src="/assets/js/newPost.js"></script>